@model IEnumerable<TestMVC.Models.Order>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Простое Web приложение для приемки заказа на доставку</h2>
<p><a href ="/Orders">Просмотр заказов</a> - отображаются введенные пользователем поля и номер заказа (вес в граммах)</p>
<p><a href ="Orders/Create">Создать заказ</a> - все поля обязательны для ввода</p>
<p>Роженко Кирилл - <a href="https://github.com/Y-T04KA">Github</a>, <a href="https://t.me/YT04KA">Telegram</a></p>
