@model TestMVC.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="orderId" />
            <div class="form-group">
                <label asp-for="SenderCity" class="control-label"></label>
                <input asp-for="SenderCity" class="form-control" />
                <span asp-validation-for="SenderCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderAdress" class="control-label"></label>
                <input asp-for="SenderAdress" class="form-control" />
                <span asp-validation-for="SenderAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestCity" class="control-label"></label>
                <input asp-for="DestCity" class="form-control" />
                <span asp-validation-for="DestCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestAdress" class="control-label"></label>
                <input asp-for="DestAdress" class="form-control" />
                <span asp-validation-for="DestAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cargoDate" class="control-label"></label>
                <input asp-for="cargoDate" class="form-control" />
                <span asp-validation-for="cargoDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
